<?php

$conf['db']['type'] = 'mysql';
$conf['db']['host'] = 'localhost';
$conf['db']['name'] = '';
$conf['db']['user'] = '';
$conf['db']['pass'] = '';
$conf['db']['table_prefix'] = '';

$conf['app']['main_title'] = 'Dase Framework';
$conf['app']['default_handler'] = 'home';
$conf['request_handler']['login'] = 'google';
$conf['app']['user_class'] = 'Dase_DBO_User';
$conf['app']['log_level'] = 'DEBUG'; //DEBUG,INFO,WARNING,ERROR
$conf['app']['template_auto_reload'] = true;
$conf['app']['google_maps_api_key'] = '';

//$conf['app']['media_dir'] = '/var/www-data/dase/apps/<app_name>/'; 

$conf['auth']['superuser']['username_here'] = 'ok';
$conf['auth']['token'] = 'auth';
$conf['auth']['ppd_token'] = "ppd";
$conf['auth']['service_token'] = "service";
$conf['auth']['serviceuser']['test'] = 'ok';

