body {
    padding-top: 60px;
    padding-bottom: 40px;
}

#wordmark {
    background:url("../img/wordMarkBkg.png") repeat-x scroll center bottom #FFFFFF;
    text-align: center;
}

dl.fix dt {
    min-height: 18px;
}
dl.fix dd {
    min-height: 18px;
}

dl.metadata {
    background-color: #eee;
    padding: 6px 3px;
    margin-top: 0px;
}

dl.metadata hr {
    color: #bbb;
    background-color: #bbb;
    height: 5px;
}

th[scope="row"] {
    color: #666;
    text-align: right;
    padding-right: 20px;
    width: 110px;
}

ul.contact_sheet div.thumbnail {
    height: 160px;
    width: 158px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

ul.thumbnails li span.index {
    float: left;
    margin-right: -30px;
    margin-left: 4px;
    margin-top: 2px;
    color: #bbb;
    font-weight: bold;
}

ul.thumbnails li.highlight {
    background-color: #eee;
}

ul.thumbnails li.type div.thumbnail {
    border-color: #999;
    border-width: 2px;
}

span.inactive {
    color: #999;
}
