body {
    padding-top: 60px;
    padding-bottom: 40px;
}

#wordmark {
    background:url("../img/wordMarkBkg.png") repeat-x scroll center bottom #FFFFFF;
    text-align: center;
}

th[scope="row"] {
    color: #666;
    text-align: right;
    padding-right: 20px;
    width: 110px;
}

dl.fix dt {
    min-height: 18px;
}
dl.fix dd {
    min-height: 18px;
}

ul.contact_sheet div.thumbnail {
    height: 160px;
    width: 158px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

ul.thumbnails li span.index {
    float: left;
    margin-right: -30px;
    margin-left: 4px;
    margin-top: 2px;
    color: #bbb;
    font-weight: bold;
}

ul.thumbnails li.highlight {
    background-color: #eee;
}

ul.thumbnails li.type div.thumbnail {
    border-color: #999;
}

span.inactive {
    color: #999;
}

.content-nav {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #EEEEEE;
    background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%);
    background-repeat: repeat-x;
    border-bottom-color: #E5E5E5;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #E5E5E5;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #E5E5E5;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #E5E5E5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    height: 36px;
    padding: 0 5px;
    margin-top: -15px;
}

