body {
    padding-top: 60px;
    padding-bottom: 40px;
}

#wordmark {
    background:url("../img/wordMarkBkg.png") repeat-x scroll center bottom #FFFFFF;
    text-align: center;
}

dl.fix dt {
    min-height: 18px;
}
dl.fix dd {
    min-height: 18px;
}

th[scope="row"] {
    color: #666;
    text-align: right;
    padding-right: 20px;
    width: 280px;
}

ul.thumbnails li  {
}

a.thumbnail {
    height: 112px;
    width: 142px;
    display: table-cell;
    vertical-align: middle;
}

a.thumbnail > img {
}

th.divider, td.divider {
    background-color: #666;
    color: white;
    font-weight: bold;
}

.table-striped tbody tr:nth-child(2n+1) td.divider, .table-striped tbody tr:nth-child(2n+1) th.divider {
    background-color: #666;
    color: white;
    font-weight: bold;
}
